@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Engagement&family=Fuzzy+Bubbles:wght@400;700&family=Lobster&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: "#FFD54F";
  --color-secondary: "#8B0000";
  --color-tertiary: "#3B2F2F";
  --color-quaternary: "#FFF8DC";
  --font-title: "Fuzzy Bubbles", sans-serif;
}
